@{
    ViewData["Title"] = "Contato";
}


<div class="container text-justify">
    <h1 class="display-4">Entre em contato conosco:</h1>
    <p>Não se demore a nos enviar mensagem caso tenha alguma dúvida referente a destinos, pacotes, 
        cancelamento e demais assuntos. <br /> O nosso telefone para contato é o <strong>(81) 8888-8888</strong> e o
        e-mail é <strong>viagempe@gmail.com.</strong>
    </p>
</div>